*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(images/Backgroundimg.jpg);
    background-position: top;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

.search-bar{
    margin-top: 100px;
    margin-left: 200px;
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.068);
    display: flex;
    align-items: flex-end;
    border-radius: 60px;
    padding: 10px 20px;
}

.navigate{
    float: right;
    list-style: none;
    margin-top: 10px;
    padding-right: relative;
}

.navigate li{
    display: inline-block;
}

.navigate li a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 14px;
}

.navigate li a:hover{
   background:#e2ce7536;
   border-radius: 50%;
   color: #333;
}

.search-bar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 20px 20px;
    font-size: 20px;
    color: #e2ce75b4;
}

::placeholder{
    font-size: large;
    color: #e2ce7569;
}

.search-bar button img{
    width: 40px;
}

.search-bar button{
    background-color: #e2ce7536;
    border-color:  #ef2736;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}